.login-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login-page .overlap-wrapper {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
}

.login-page .overlap {
    position: relative;
    width: 1746px;
    height: 1356px;
    top: -112px;
    left: -96px;
}

.login-page .group {
    position: absolute;
    width: 1063px;
    height: 701px;
    top: 0;
    left: 683px;
}

.login-page .overlap-group {
    position: relative;
    width: 853px;
    height: 569px;
    top: 112px;
}

.login-page .polygon {
    position: absolute;
    width: 300px;
    height: 248px;
    top: 280px;
    left: 763px;
}

.login-page .img {
    position: absolute;
    width: 300px;
    height: 248px;
    top: -140px;
    left: 506px;
}

.login-page .polygon-2 {
    position: absolute;
    width: 300px;
    height: 248px;
    top: 0px;
    left: 760px;
}

.login-page .polygon-3 {
    position: absolute;
    width: 300px;
    height: 248px;
    top: -140px;
}

.login-page .polygon-4 {
    position: absolute;
    width: 300px;
    height: 248px;
    top: 0px;
    left: 250px;
    ;
}

.login-page .polygon-5 {
    position: absolute;
    width: 300px;
    height: 248px;
    top: 140px;
    left: 506px;
}

.login-page .overlap-group-wrapper {
    position: absolute;
    width: 786px;
    height: 829px;
    top: 527px;
    left: 0;
}

.login-page .div {
    position: relative;
    width: 690px;
    height: 590px;
    top: 19px;
    left: 96px;
}

.login-page .polygon-6 {
    position: absolute;
    width: 300px;
    height: 248px;
    top: 542px;
    left: 147px;
}

.login-page .polygon-7 {
    position: absolute;
    width: 300px;
    height: 248px;
    top: 135px;
    left: -100px;
}

.login-page .polygon-8 {
    position: absolute;
    width: 300px;
    height: 248px;
    top: 404px;
    left: 389px;
}

.login-page .polygon-9 { /* most bottom left hex */
    position: absolute;
    width: 300px;
    height: 248px;
    top: 404px;
    left: -100px;
}

.login-page .polygon-10 {
    position: absolute;
    width: 300px;
    height: 248px;
    top: 271px;
    left: 147px;
}

.login-page .polygon-11 {
    position: absolute;
    width: 300px;
    height: 248px;
    top: 135px;
    left: 390px;
}

.login-page .polygon-12 {
    position: absolute;
    width: 300px;
    height: 248px;
    top: 0;
    left: 147px;
}

.login-page .sacramento-state {
    position: absolute;
    width: 434px;
    top: 380px;
    left: 176px;
    font-family: "Kanit-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 35px;
    letter-spacing: 0;
    line-height: normal;
}

.login-page .text-wrapper {
    position: absolute;
    width: 640px;
    top: 297px;
    left: 176px;
    font-family: "Lilita One-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 80px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.login-page .rectangle {
    position: absolute;
    width: 437px;
    height: 515px;
    top: 347px;
    left: 970px;
}

.login-page .rectangle-2 {
    position: absolute;
    width: 350px;
    height: 45px;
    top: 493px;
    left: 1004px;
    background-color: #d9d9d9;
}

.login-page .rectangle-3 {
    position: absolute;
    width: 350px;
    height: 45px;
    top: 589px;
    left: 1004px;
    background-color: #d9d9d9;
}

.login-page .text-wrapper-2 {
    position: absolute;
    width: 130px;
    top: 394px;
    left: 1124px;
    font-family: "Kanit-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.login-page .rectangle-4 {
    position: absolute;
    width: 350px;
    height: 53px;
    top: 675px;
    left: 1004px;
    background-color: #000000;
}

.login-page .text-wrapper-3 {
    position: absolute;
    width: 73px;
    top: 681px;
    left: 1152px;
    font-family: "Kanit-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.login-page .text-wrapper-4 {
    position: absolute;
    top: 755px;
    left: 1070px;
    font-family: "Kanit-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.login-page .text-wrapper-5 {
    position: absolute;
    width: 183px;
    top: 496px;
    left: 1011px;
    font-family: "Kanit-Regular", Helvetica;
    font-weight: 400;
    color: #727272;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.login-page .text-wrapper-6 {
    position: absolute;
    width: 183px;
    top: 591px;
    left: 1011px;
    font-family: "Kanit-Regular", Helvetica;
    font-weight: 400;
    color: #727272;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.login-page .text-wrapper-7 {
    position: absolute;
    top: 755px;
    left: 1232px;
    font-family: "Kanit-Regular", Helvetica;
    font-weight: 400;
    color: #e9d89a;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}
