body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*Create the green box at the top*/
.greenHeader {
    position: absolute;
    background-color: #043927;
    width: 100%;
    height: 8.6%;
    top: 0;
}

/*Set the title of the page to the correct font, Lilita One*/
.titleText {
    position: relative;
    left: 2%;
    top: 30%;
    font-family:'Lilita One';
}

/*Sets the specific color and font for the text at the top of the page.*/
.topBarText {
    position: relative;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

/*Create a tan rectangle on the left side of the screen, should move down the whole page*/
.tanRectangle {
    background-color: #C4B581;
    position: fixed;
    left: 3.5%;
    top: 8.6%;
    width: 18%;
    height: 100%;
}
/*Positioning for the filter box on the tan bar, as well as the links to the other pages.*/
.searchBar {
    position: sticky;
    left: 4.5%;
    top: 10%;
    width: 80%;
    height: 2%;
}
.submitEditButtons {
    font-family: sans-serif;
    color: #043927;
    position: relative;
    top: 3%;
    left: 4.5%;
}