<!--AdminPage.html-->
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <!--Finds the correct font 'Lilita One'-->
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="styelsheet" href="Testing\src\main\resources\static\Admin.css">
    <title>EventsPage</title>
</head>
<body>
<!--Sets up the background, position, and color of the top green bar and text-->
<!--ADD LINKS TO THE OTHER PAGES-->
<div class="greenHeader">
    <h1 class="titleText" style="color: white">Events</h1>
    <h3 class="topBarText" style="right: 19%; top: 40%;">Home</h3>
    <h3 class="topBarText" style="right: 12.5%; top: 40%;">About</h3>
    <h3 class="topBarText" style="right: 5%; top: 40%;">Sign Out</h3>
</div>

<!--Create a tan rectangle on the left side of the screen, should move down the whole page-->
<!--Contains a filter for the events page and the links to the event submission page-->
<div class="tanRectangle">
    <input type="text" class="searchBar" placeholder="Filter">
    <!--ADD LINKS TO THE OTHER PAGES-->
    <h3 class="submitEditButtons">Submit New Event</h3>
    <h3 class="submitEditButtons">Edit Events</h3>
</div>

    <div th:each="i : ${#numbers.sequence(1, num)}">
        <div style="width: 50px; height: 50px; background-color: #000000; margin: 5px;"></div>
    </div>

<!--Creates the event holders, gray squares with rounded corners.-->
<!--Text box on the left side for the time and day, on the right for the description.-->
<div class="eventContainer" style="width: 1022px; height: 200px; left: 380px; top: 301px; position: absolute">
    <div class="background" style="width: 1022px; height: 200px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 20px"></div>
    <div class="date" style="width: 152px; height: 40px; left: 310px; top: 82px; position: absolute; color: black; font-size: 25px; font-family: Kanit; font-weight: 400; word-wrap: break-word">Event Date</div>
    <div class="description" style="width: 212px; height: 40px; left: 497px; top: 80px; position: absolute; color: black; font-size: 25px; font-family: Kanit; font-weight: 400; word-wrap: break-word">Description of the event</div>

    <div class="title" style="width: 196px; height: 44px; left: 65px; top: 78px; position: absolute; color: #043927; font-size: 30px; font-family: Kanit; font-weight: 500; text-decoration: underline; word-wrap: break-word">EVENT TITLE</div>
    <div class="button" style="width: 118px; height: 43px; left: 179px; top: 19px; position: absolute">
      <div class="deleteBackground" style="width: 118px; height: 41px; left: 0px; top: 0px; position: absolute; background: #B03A3A; border-radius: 20px"></div>
      <div class="deleteText" style="width: 97px; height: 42px; left: 21px; top: 1px; position: absolute; color: white; font-size: 25px; font-family: Kanit; font-weight: 400; word-wrap: break-word">Delete</div>
    </div>

</body>
</html>