<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
</style>

<html>
    <head>
    <title>EventsAdminPage</title>
    <!--Finds the correct font 'Lilita One'-->
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">

    <div class="RegisterPage" style="width: 1440px; height: 1024px; position: relative; background: white">
        <div class="LowerBackgroundHex" style="width: 786px; height: 828.54px; left: -96px; top: 415px; position: absolute">
        </div>
        <div class="UpperBackgroundHex" style="width: 1063px; height: 700.54px; left: 587px; top: -112px; position: absolute">
        </div>
        <div class="RegisterBox" style="width: 437px; height: 667px; left: 876px; top: 227px; position: absolute">
          <div class="Rectangle1" style="width: 437px; height: 667px; left: 0px; top: 0px; position: absolute; background: #0D6648; border-radius: 20px"></div>
          <div class="CreateAnAccount" style="left: 55px; top: 48px; position: absolute; color: white; font-size: 40px; font-family: Kanit; font-weight: 400; word-wrap: break-word">Create an Account</div>
          <div class="Register" style="width: 350px; height: 53px; left: 44px; top: 458px; position: absolute">
            <div class="Rectangle4" style="width: 350px; height: 53px; left: 0px; top: 0px; position: absolute; background: black"></div>
            <div class="Register" style="left: 122px; top: 7px; position: absolute; color: white; font-size: 25px; font-family: Kanit; font-weight: 400; word-wrap: break-word">Register</div>
          </div>
          
          <!--User input-->
          <form action="submitNewUser" method="post" enctype="multipart/form-data">

          <!--Username input-->
          <input class="nameInput" style="width: 350px; height: 45px; left: 44px; top: 146px; position: absolute">
          <div class="GoBack" style="left: 179px; top: 531px; position: absolute; color: #EAD89B; font-size: 18px; font-family: Kanit; font-weight: 400; word-wrap: break-word">Go back</div>
        </div>
          
          <!--Email input-->
          <div class="EmailAddress" style="width: 350px; height: 45px; left: 44px; top: 224px; position: absolute">
            <div class="Textbox" style="width: 350px; height: 45px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
            <div class="EmailAddress" style="width: 183px; height: 39px; left: 7px; top: 3px; position: absolute; color: #737373; font-size: 25px; font-family: Kanit; font-weight: 400; word-wrap: break-word">Email Address</div>
          </div>

          <!--Password input-->
          <div class="Password" style="width: 350px; height: 45px; left: 44px; top: 302px; position: absolute">
            <div class="Textbox" style="width: 350px; height: 45px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
            <div class="Password" style="width: 183px; height: 39px; left: 7px; top: 3px; position: absolute; color: #737373; font-size: 25px; font-family: Kanit; font-weight: 400; word-wrap: break-word">Password</div>
          </div>

          <!--Second password input-->
          <div class="ConfirmPassword" style="width: 350px; height: 45px; left: 44px; top: 380px; position: absolute">
            <div class="Textbox" style="width: 350px; height: 45px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
            <div class="ConfirmPassword" style="left: 7px; top: 3px; position: absolute; color: #737373; font-size: 25px; font-family: Kanit; font-weight: 400; word-wrap: break-word">Confirm Password</div>
          </div>


        <div class="SacramentoStateInternationalStudents" style="width: 434px; height: 121px; left: 80px; top: 273px; position: absolute; color: black; font-size: 35px; font-family: Kanit; font-weight: 700; word-wrap: break-word">Sacramento State<br/>International Students</div>
        <div class="UniversalBuzz" style="width: 640px; height: 91px; left: 80px; top: 190px; position: absolute; color: black; font-size: 80px; font-family: Lilita One; font-weight: 400; word-wrap: break-word">UNIVERSAL BUZZ</div>
      </div>
    </form>

    </head>
  </html>