.homepage {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .homepage .div {
    background-color: #ffffff;
    height: 2204px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  
  .homepage .image {
    height: 372px;
    left: 747px;
    object-fit: cover;
    position: absolute;
    top: 156px;
    width: 693px;
  }
  
  .homepage .global-lounge {
    height: 372px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 156px;
    width: 747px;
  }
  
  .homepage .overlap {
    height: 270px;
    left: 0;
    position: absolute;
    top: 1978px;
    width: 1446px;
  }
  
  .homepage .footer {
    background-color: transparent;
    height: 226px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1446px;
  }
  
  .homepage .overlap-group {
    background-color: #043927;
    height: 226px;
    position: relative;
    width: 1440px;
  }
  
  .homepage .text-wrapper {
    color: #ffffff;
    font-family: "Kanit", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 57px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 52px;
    width: 361px;
  }
  
  .homepage .text-wrapper-2 {
    color: #ffffff;
    font-family: "Kanit", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 1003px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 48px;
    width: 337px;
  }
  
  .homepage .contact-us-phone {
    color: #ffffff;
    font-family: "Kanit", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 505px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 52px;
    width: 295px;
  }
  
  .homepage .span {
    color: #ffffff;
    font-family: "Kanit", Helvetica;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .homepage .text-wrapper-3 {
    text-decoration: underline;
  }
  
  .homepage .text-wrapper-4 {
    color: #ffffff;
    font-family: "Lilita One", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 1321px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 225px;
    width: 103px;
  }
  
  .homepage .overlap-2 {
    height: 1450px;
    left: -6px;
    position: absolute;
    top: 528px;
    width: 1459px;
  }
  
  .homepage .overlap-3 {
    height: 1450px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1459px;
  }
  
  .homepage .event {
    height: 530px;
    left: 0;
    position: absolute;
    top: 876px;
    width: 1455px;
  }
  
  .homepage .overlap-4 {
    background-image: url(./img/homeimg/rectangle-27.svg);
    background-size: 100% 100%;
    height: 466px;
    left: 6px;
    position: absolute;
    top: 64px;
    width: 1440px;
  }
  
  .homepage .overlap-group-wrapper {
    height: 366px;
    left: 25px;
    position: absolute;
    top: 40px;
    width: 292px;
  }
  
  .homepage .overlap-group-2 {
    background-image: url(./img/homeimg/rectangle-28.svg);
    background-size: 100% 100%;
    height: 366px;
    position: relative;
    width: 288px;
  }
  
  .homepage .p {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 247px;
    width: 248px;
  }
  
  .homepage .text-wrapper-5 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 206px;
    width: 172px;
  }
  
  .homepage .overlap-wrapper {
    height: 366px;
    left: 339px;
    position: absolute;
    top: 40px;
    width: 293px;
  }
  
  .homepage .overlap-5 {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 366px;
    position: relative;
    width: 289px;
  }
  
  .homepage .text-wrapper-6 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 251px;
    width: 266px;
  }
  
  .homepage .text-wrapper-7 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 212px;
    width: 159px;
  }
  
  .homepage .overlap-6 {
    height: 426px;
    left: 654px;
    position: absolute;
    top: 40px;
    width: 315px;
  }
  
  .homepage .div-wrapper {
    height: 380px;
    left: 0;
    position: absolute;
    top: 0;
    width: 293px;
  }
  
  .homepage .overlap-7 {
    height: 380px;
    position: relative;
    width: 289px;
  }
  
  .homepage .rectangle {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 366px;
    left: 0;
    position: absolute;
    top: 0;
    width: 289px;
  }
  
  .homepage .text-wrapper-8 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 264px;
    width: 265px;
  }
  
  .homepage .text-wrapper-9 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 218px;
    width: 158px;
  }
  
  .homepage .text-wrapper-10 {
    color: #ffffff;
    font-family: "Kanit", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 136px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 376px;
    width: 179px;
  }
  
  .homepage .text-wrapper-11 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 39px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 390px;
  }
  
  .homepage .news {
    height: 528px;
    left: 6px;
    position: absolute;
    top: 320px;
    width: 1453px;
  }
  
  .homepage .overlap-8 {
    background-image: url(./img/homeimg/rectangle-27-1.svg);
    background-size: 100% 100%;
    height: 464px;
    left: 0;
    position: absolute;
    top: 64px;
    width: 1440px;
  }
  
  .homepage .event-2 {
    height: 358px;
    left: 39px;
    position: absolute;
    top: 31px;
    width: 262px;
  }
  
  .homepage .overlap-group-3 {
    background-image: url(./img/homeimg/rectangle-28-1.svg);
    background-size: 100% 100%;
    height: 358px;
    position: relative;
    width: 258px;
  }
  
  .homepage .text-wrapper-12 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 236px;
    width: 230px;
  }
  
  .homepage .text-wrapper-13 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 171px;
    width: 160px;
  }
  
  .homepage .event-3 {
    height: 358px;
    left: 326px;
    position: absolute;
    top: 31px;
    width: 271px;
  }
  
  .homepage .overlap-9 {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 358px;
    position: relative;
    width: 267px;
  }
  
  .homepage .text-wrapper-14 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 242px;
    width: 246px;
  }
  
  .homepage .text-wrapper-15 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 172px;
    width: 147px;
  }
  
  .homepage .event-4 {
    height: 358px;
    left: 622px;
    position: absolute;
    top: 31px;
    width: 283px;
  }
  
  .homepage .overlap-10 {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 358px;
    position: relative;
    width: 279px;
  }
  
  .homepage .text-wrapper-16 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 242px;
    width: 256px;
  }
  
  .homepage .text-wrapper-17 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 172px;
    width: 153px;
  }
  
  .homepage .img {
    height: 133px;
    left: 47px;
    object-fit: cover;
    position: absolute;
    top: 433px;
    width: 256px;
  }
  
  .homepage .image-2 {
    height: 133px;
    left: 338px;
    object-fit: cover;
    position: absolute;
    top: 433px;
    width: 256px;
  }
  
  .homepage .image-3 {
    height: 133px;
    left: 641px;
    object-fit: cover;
    position: absolute;
    top: 433px;
    width: 256px;
  }
  
  .homepage .text-wrapper-18 {
    color: #ffffff;
    font-family: "Kanit", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 804px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 786px;
    width: 179px;
  }
  
  .homepage .campus-resources {
    height: 1450px;
    left: 975px;
    position: absolute;
    top: 0;
    width: 457px;
  }
  
  .homepage .overlap-11 {
    background-image: url(./img/homeimg/rectangle-27-2.svg);
    background-size: 100% 100%;
    height: 1450px;
    position: relative;
    width: 455px;
  }
  
  .homepage .financial-aid {
    height: 81px;
    left: 39px;
    position: absolute;
    top: 310px;
    width: 380px;
  }
  
  .homepage .overlap-group-4 {
    background-image: url(./img/homeimg/rectangle-28-2.svg);
    background-size: 100% 100%;
    height: 81px;
    position: relative;
    width: 378px;
  }
  
  .homepage .text-wrapper-19 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 28px;
    font-weight: 700;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 21px;
    width: 179px;
  }
  
  .homepage .housing-information {
    height: 81px;
    left: 39px;
    position: absolute;
    top: 412px;
    width: 380px;
  }
  
  .homepage .overlap-12 {
    background-image: url(./img/homeimg/rectangle-28-3.svg);
    background-size: 100% 100%;
    height: 81px;
    position: relative;
    width: 378px;
  }
  
  .homepage .text-wrapper-20 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 28px;
    font-weight: 700;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    width: 294px;
  }
  
  .homepage .clubs-organizations {
    height: 85px;
    left: 39px;
    position: absolute;
    top: 514px;
    width: 380px;
  }
  
  .homepage .overlap-13 {
    height: 85px;
    position: relative;
    width: 378px;
  }
  
  .homepage .rectangle-2 {
    height: 81px;
    left: 0;
    position: absolute;
    top: 0;
    width: 378px;
  }
  
  .homepage .clubs-organizations-2 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 28px;
    font-weight: 700;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 22px;
    width: 294px;
  }
  
  .homepage .scholarships {
    height: 81px;
    left: 39px;
    position: absolute;
    top: 208px;
    width: 380px;
  }
  
  .homepage .overlap-14 {
    background-image: url(./img/homeimg/rectangle-28-5.svg);
    background-size: 100% 100%;
    height: 81px;
    position: relative;
    width: 378px;
  }
  
  .homepage .text-wrapper-21 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 28px;
    font-weight: 700;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 19px;
    width: 179px;
  }
  
  .homepage .scholarships-2 {
    height: 81px;
    left: 39px;
    position: absolute;
    top: 106px;
    width: 380px;
  }
  
  .homepage .overlap-15 {
    background-image: url(./img/homeimg/rectangle-28-6.svg);
    background-size: 100% 100%;
    height: 81px;
    position: relative;
    width: 378px;
  }
  
  .homepage .text-wrapper-22 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 28px;
    font-weight: 700;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    width: 336px;
  }
  
  .homepage .text-wrapper-23 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 36px;
    font-weight: 700;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 32px;
    width: 355px;
  }
  
  .homepage .location {
    height: 519px;
    left: 996px;
    position: absolute;
    top: 527px;
    width: 402px;
  }
  
  .homepage .text-wrapper-24 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 288px;
    width: 341px;
  }
  
  .homepage .international {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 337px;
    width: 358px;
  }
  
  .homepage .overlap-16 {
    background-image: url(./img/homeimg/rectangle-29.svg);
    background-size: 100% 100%;
    height: 62px;
    left: 2px;
    position: absolute;
    top: 457px;
    width: 387px;
  }
  
  .homepage .text-wrapper-25 {
    color: #ffffff;
    font-family: "Kanit", Helvetica;
    font-size: 25px;
    font-weight: 600;
    left: 54px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 13px;
    width: 290px;
  }
  
  .homepage .image-4 {
    height: 285px;
    left: 4px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 392px;
  }
  
  .homepage .image-5 {
    height: 155px;
    left: 39px;
    object-fit: cover;
    position: absolute;
    top: 1018px;
    width: 270px;
  }
  
  .homepage .image-6 {
    height: 155px;
    left: 358px;
    object-fit: cover;
    position: absolute;
    top: 1015px;
    width: 263px;
  }
  
  .homepage .overlap-17 {
    height: 49px;
    left: 53px;
    position: absolute;
    top: 235px;
    width: 580px;
  }
  
  .homepage .overlap-wrapper-2 {
    height: 49px;
    left: 0;
    position: absolute;
    top: 0;
    width: 580px;
  }
  
  .homepage .overlap-18 {
    height: 49px;
    position: relative;
    width: 578px;
  }
  
  .homepage .rectangle-3 {
    background-color: #d9d9d9;
    height: 46px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 578px;
  }
  
  .homepage .settings-button {
    color: #043927;
    font-family: "Kanit", Helvetica;
    font-size: 35px;
    font-weight: 700;
    left: 60px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 353px;
  }
  
  .homepage .settings {
    height: 46px;
    left: 2px;
    position: absolute;
    top: 3px;
    width: 50px;
  }
  
  .homepage .overlap-19 {
    height: 49px;
    left: 53px;
    position: absolute;
    top: 171px;
    width: 580px;
  }
  
  .homepage .chatrooms {
    color: #043927;
    font-family: "Kanit", Helvetica;
    font-size: 35px;
    font-weight: 700;
    left: 63px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 353px;
  }
  
  .homepage .message-circle {
    height: 46px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 54px;
  }
  
  .homepage .overlap-20 {
    height: 50px;
    left: 53px;
    position: absolute;
    top: 110px;
    width: 580px;
  }
  
  .homepage .profile-button {
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 580px;
  }
  
  .homepage .overlap-21 {
    height: 50px;
    position: relative;
    width: 578px;
  }
  
  .homepage .rectangle-4 {
    background-color: #d9d9d9;
    height: 49px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 578px;
  }
  
  .homepage .profile {
    color: #043927;
    font-family: "Kanit", Helvetica;
    font-size: 35px;
    font-weight: 700;
    left: 73px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 353px;
  }
  
  .homepage .image-7 {
    height: 49px;
    left: 5px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 49px;
  }
  
  .homepage .text-wrapper-26 {
    color: #000000;
    font-family: "Kanit", Helvetica;
    font-size: 46px;
    font-weight: 700;
    left: 48px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 28px;
    width: 547px;
  }
  
  .homepage .header {
    background-color: transparent;
    height: 140px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1448px;
  }
  
  .homepage .overlap-22 {
    background-color: #043927;
    height: 140px;
    position: relative;
    width: 1440px;
  }
  
  .homepage .text-wrapper-27 {
    -webkit-text-stroke: 1px #000000;
    color: #ffffff;
    font-family: "Lilita One", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 50px;
    width: 500px;
  }
  
  .homepage .text-wrapper-28 {
    color: #ffffff;
    font-family: "Kanit", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 689px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 82px;
    width: 73px;
  }
  
  .homepage .text-wrapper-29 {
    color: #ffffff;
    font-family: "Kanit", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 793px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 81px;
    width: 95px;
  }
  
  .homepage .text-wrapper-30 {
    color: #ffffff;
    font-family: "Kanit", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 1317px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 83px;
    width: 95px;
  }
  
  .homepage .search {
    height: 49px;
    left: 925px;
    position: absolute;
    top: 70px;
    width: 303px;
  }
  
  .homepage .input {
    background: none;
    background-image: url(./img/homeimg/search-space.svg);
    background-size: 100% 100%;
    border: none;
    color: #727272;
    font-family: "Kanit", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 49px;
    letter-spacing: 0;
    line-height: normal;
    padding: 0;
    padding-left: 13px;
    position: relative;
    width: 301px;
  }
  